== Sistema de Registro de Pacientes - Hospital ==
Se insertaron pacientes de ejemplo (primera ejecucion).
Base de datos lista en: E:\nuevo\hospital-hc-PC7-ROLES\hospital\data\hospital.mv.db
Usuarios de demostracion creados. Ver: E:\nuevo\hospital-hc-PC7-ROLES\hospital\data\CREDENCIALES-DEMOSTRACION.txt
Se crearon los 4 usuarios de los cuatro roles.
Acceso con usuario y contrasena. Roles: ADMIN_GENERAL, DIGITADOR, ENFERMERA, DOCTOR.
Servidor iniciado. Abre tu navegador en: http://localhost:8099/
Plantillas: E:\nuevo\hospital-hc-PC7-ROLES\hospital\templates
Estáticos:  E:\nuevo\hospital-hc-PC7-ROLES\hospital\static
Presiona Ctrl+C para detener.
Acceso concedido a admin (ADMIN_GENERAL) desde 127.0.0.1 a las 2026-10-04T23:01:13.155958400Z
Acceso concedido a admin (ADMIN_GENERAL) desde 127.0.0.1 a las 2026-10-04T23:04:34.326023600Z
